.edit-container, .edit__section {
  flex-direction: column;
}

.edit__section-row {
  flex-direction: row;
}

.edit-container {
  flex-grow: 1;
}

.settings-container {
  background: #f9f9fd;
}

.edit__btn {
  cursor: pointer;
  height: 20px;
  flex-grow: 1;

  // Test
  &.pause {
    background: orange;
  }
  &.enable {
    background: green;
  }
  &.reset {
    background: red;
  }
}

input[type="text"], input[type="number"] {
  border: 1px solid #8484f5;
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
  outline: none;
}
