.margin-right {
  margin-right: 10px;
}

.align-center {
  align-items: center;
}

.edit-container, .edit__section {
  flex-direction: column;
}

.edit__section {
  border-bottom: 1px solid #b3c5d6;
}

.edit__block {
  flex-wrap: wrap;
}

.margin-bottom {
  margin-bottom: 5px;
}

.edit-container {
  flex-grow: 1;
  width: 380px;
}

.edit__btn {
  cursor: pointer;
  height: 30px;
  border-radius: 7px;
  flex-grow: 1;
  margin-top: 5px;
  margin-bottom: 5px;

  // Test
  &.pause {
    background: orange;
  }
  &.enable {
    background: green;
  }
  &.reset {
    background: red;
  }
}

input, input[type=text], input[type=number] {
  border: 2px solid #8484f5;
  border-radius: 5px;
  padding: 8px;
  outline: none;
  font-size: 14px !important;
  line-height: normal !important;
}

input[type=text]:disabled {
  background: #f7f7ff;
}

.datepicker {
  max-width: 110px !important;
  &.moved + div > div {
    top: auto !important;
    bottom: 50px !important;
    left: -135px !important;
    &>div.arrow {
      bottom: -11px !important;
      left: 75% !important;
      border-top-color: rgba(0, 0, 0, .25) !important;
      border-bottom-width: 0 !important;
      top: auto !important;
      border-top-width: 11px !important;
      &:after {
        bottom: 1px !important;
        border-top-color: #fff !important;
        border-bottom-width: 0 !important;
        top: auto !important;
        border-top-width: 11px !important;
      }
    }
  }
}

.timepicker {
  max-width: 110px;
}

.daypicker {
  max-width: 80px;
}

.copyright {
  color: #bbbed6;
  font-size: 12px;
  text-decoration: none;
}

// sound-input
.sound-upload {
  position: relative;
  overflow: hidden;
}

.sound-btn {
  border: 2px solid #8384f5;
  color: #8384f5;
  background-color: white;
  padding: 5px 20px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  white-space: nowrap;
}

.sound-upload input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.sound-path {
  padding: 7px;
  width: 170px;
}
