$shadow: #0000001f;
$border: #b3c5d6;

.alarms-list::-webkit-scrollbar {
  width: 12px;
}
.alarms-list::-webkit-scrollbar-thumb {
  background-color: #d5d6ff;
  border-radius: 8px;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 0;
  overflow: hidden;
}

#root {
  overflow: hidden;
}

div {
  display: flex;
}

.padding {
  padding: 10px 15px;
}

.padding-controls {
  padding: 15px 15px;
}

.btn, .btn-padding, .alarm-container {
  cursor: pointer;
}

.btn {
  width: 35px;
  height: 35px;
  margin-right: 5px;
  border-radius: 5px;

  &.delete-alarm {
    background-size: 22px;
  }
  &.process-all-alarms {
    background-size: 26px;
  }
}

.btn, .img-alarm-type, .alarm-handler__btn-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
}

.btn-padding {
  padding: 10px 20px;
  margin-right: 15px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0 2px 7px $shadow;
  font-weight: 500;
}

.btn, .alarm-handler__btn, .btn-padding, .edit__btn {
  &:active, &.active {
    box-shadow: inset 0 3px 5px $shadow;
  }
}

.alarm-handler__btn {
  cursor: pointer;
  position: relative;
  border-radius: 0 8px 8px 0;

  &.pause {
    background: orange;
  }
  &.enable {
    background: #2eb32e;
  }
  &.reset {
    background: #ff3e3e;
  }
}

.alarm-handler__btn-img {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.btn-last {
  margin-right: 0;
}

.alarms-container, .edit-container, .alarms-list, .alarm-countdown {
  flex-direction: column;
}

.alarms-container, .alarm-select-container, .alarms-modification-controls {
  flex-grow: 1;
}

.edit-container {
  background: linear-gradient(#f9f9fd, #f1f3ff);
}

.alarms-controls {
  align-items: center;
  background: #f9f9fd;
  height: 55px;
  user-select: none;
}

.alarms-list {
  padding-top: 10px;
  overflow-y: auto;
}

.alarm-container {
  min-height: fit-content;
  margin: 10px;
  margin-top: 0;
  border-radius: 8px;
  box-shadow: 0 2px 8px $shadow;
  border: 1px solid #ddddff;
  min-width: 270px;
  width: auto;
  &.active {
    box-shadow: inset 0 3px 5px $shadow;
  }
}

.alarm-type {
  border-bottom: 1px solid $border;
  margin-bottom: 5px;
  flex-wrap: wrap;
  &>div {
    &.active {
      cursor: default;
      box-shadow: inset 0 3px 5px $shadow;
    }
  }
}

.settings-footer {
  justify-content: flex-end;
}

.alarm-countdown, .alarm-description {
  justify-content: center;
}

.alarm-countdown {
  max-width: 130px;
  padding: 7px;
  border-left: 1px solid $border;
}

.alarm-description {
  align-items: center;
  flex-grow: 1;
  border-left: 1px solid $border;
  word-break: break-all;
}
